*{
    box-sizing: border-box;
}
.clearfix{
    clear: both;
}
.item{
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
}
p{
    position: absolute;
    top: 71%;
    left: 28%;
    color: rgb(56, 125, 170);
    line-height: 25px;

}
ul.star{
    position: absolute;
    top: 80%;
    left: 5%;
    list-style-type: none;
}
li.star{
    display: inline;
}
.fa-star{
    color: rgb(192, 150, 36);
}
img{
    width: 230px;
    height: 200px;
}
span{
    position: absolute;
    top: 22px;
    left: 10px;
    background-color: purple;
    color: white;
    padding: 3px 9px;
    font-size: 12px;
    display: none;
}
pre{
    position: absolute;
    top: 65%;
    font-size: 15px;
    padding-left: 32px;
}
#old{
    position: absolute;
    top: 71%;
    left: 20%;
    text-decoration: line-through;
    color: rgb(103, 126, 123);
}
#new{
    position: absolute;
    top: 71%;
    left: 40%;
    color: rgb(56, 125, 170);
    line-height: 25px;
}
ul.shop{
    position: absolute;
    top: 10px;
    right: 25px;
}
li.shop{
    list-style-type: none;
}
li.shop i{
    background-color: rgb(56, 125, 170);
    color: white;
    padding: 5px;
    margin-top: 4px;
    font-size: 12px;
    width: 23px;
    display: none;
}
.item:hover li.shop i{
    display: block;
}
.item:hover span{
    display: block;
}